<aside class="sidebar">
	<div class="sidebar-container">

		{{> app/_common/sidebar/header/header}}

		<nav class="menu">
			<ul class="nav metismenu" id="sidebar-menu">

				<li {{#is pagename "===" "dashboard"}}class="active"{{/is}} >
        				{{#active-li currentWhen='index'}}
          				{{#link-to 'index'}}
						<i class="fa fa-home"></i> Home
					{{/link-to}}
        				{{/active-li}}
				</li>


				<li {{#is pagename "in" "items-list,item-editor"}}class="active open"{{/is}} >
        			{{#active-li currentWhen='blocks'}}
          			{{#link-to 'blocks'}}
            				<i class="fa fa-cubes"></i> Pool Blocks
            			{{#if immatureTotal}}
              				<span class="badge alert-success">{{immatureTotal}}</span>
            			{{/if}}
          			{{/link-to}}
        			{{/active-li}}
				</li>

        {{#active-li currentWhen='miners'}}
          {{#link-to 'miners'}}
            <i class="fa fa-users"></i> Miners
          {{/link-to}}
        {{/active-li}}
        {{#active-li currentWhen='about'}}
          {{#link-to 'about'}}
            <i class="fa fa-comments"></i> About <span class="badge alert-success">&#x2713;</span>
          {{/link-to}}
        {{/active-li}}
                {{#active-li currentWhen='help'}}
          {{#link-to 'help'}}
            <i class="fa fa-rocket"></i> Help
          {{/link-to}}
        {{/active-li}}

				<li {{#is pagename "===" "docs"}}class="active"{{/is}} >
					<a href="https://github.com/modularcode/modular-admin-html">
						<i class="fa fa-github-alt"></i> Theme Docs
					</a>
				</li>


			</ul>
		</nav>

	</div>

	{{> app/_common/sidebar/customize/customize}}

</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
